@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-shades: #F3F4F4;
  --light-accent: #E19E6E;
  --brand-color: #934B62;
  --dark-accent: #7C7E97;
  --dark-shades: #372A40;
}

@media (prefers-color-scheme: dark) {
  /* :root {} */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--dark-shades);
  background: #C9CCD3;
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 150%);
  background-blend-mode: hard-light;

  font-family: 'sans-serif';
  font-weight: 400;
  font-size: 1rem;
}

@keyframes translateY {
  0% { transform: translateY(0); }
  50% { transform: translateY(30px); }
  100% { transform: translateY(0); }
}

.animated {
  animation: translateY 2s linear infinite;
}
