@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-shades: #F3F4F4;
  --light-accent: #E19E6E;
  --brand-color: #934B62;
  --dark-accent: #7C7E97;
  --dark-shades: #372A40;
}

@media (prefers-color-scheme: dark) {
  /* :root {} */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: var(--dark-shades);
  background: var(--light-shades);

  font-family: 'sans-serif';
  font-weight: 400;
  font-size: 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
